#
# Mac
#
.DS_Store

#
# Git
#
!.gitkeep

#
# Nodejs
#
npm-debug.log
node_modules
logs
tmp

#
# Intellij
#
.idea/
*.iml
*.iws

#
# Test
#
nohup.out

#
# Project stuff
#
.sass-cache
bower_components/
builds/*
*.swp
*.db
